<?xml version="1.0" ?>
<robot name="myworkcell" xmlns:xacro="http://ros.org/wiki/xacro">

    <material name="blue">
        <color rgba="0 0 0.8 1" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

    <xacro:ur5_robot prefix="" joint_limited="true"/>
    <joint name="env_to_robot" type="fixed">
        <parent link="env"/>
        <child link="base_link"/>
        <origin xyz="-0.85 -0.42 1.55" rpy="0 0 0"/>
    </joint>

    <joint name="eoat_to_tool0" type="fixed">
        <parent link="tool0" />
        <child link="eoat" />
        <origin xyz="0 0 0" rpy="0 0 -2.36"/>
    </joint>

    <link name="world"/>
    <link name="env" >
        <visual>
            <geometry>
                <mesh filename="package://smr1_moveit_config/urdf/smrsetup.stl"/>
            </geometry>
            <origin xyz="0 0 0" rpy="3.14 0 3.14" />
            <material name="blue" />
        </visual>
    </link>

    <link name="eoat">
        <visual>
            <geometry>
                <mesh filename="package://smr1_moveit_config/urdf/eoat.stl" />
            </geometry>
            <material name="white" />
        </visual>
    </link>

    <link name="camera_frame"/>

    <joint name="world_to_env" type="fixed">
        <parent link="world" />
        <child link ="env" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="world_to_camera" type="fixed">
        <parent link="world"/>
        <child link="camera_frame"/>
        <origin xyz="-0.25 -0.5 1.25" rpy="0 3.14159 0"/>
    </joint>
</robot>