<launch>

    <include file="$(find ur_bringup)/launch/ur5_bringup.launch" >
        <arg name="robot_ip" value="192.168.0.1" />
    </include>

    <include file="$(find smr1_moveit_config)/launch/myworkcell_moveit_planning_execution.launch" />

    <node pkg="tf" type="static_transform_publisher" name="conveyer" args="0 0 0 0 0 0 1  world conveyer 100"/>

    <node name="robot_node" pkg="robot" type="node" />
    <node name="plc_node" pkg="plc" type="node" />
    <node name="item_frame_node" pkg="item_frame" type="node" />

    <include file="$(find smr1_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="config" value="true" />
    </include>

</launch>